Package: locomotive
Version: 1.1.0
Architecture: all
Essential: no
Priority: optional
Depends: 
Maintainer: msamgan
Description: Locomotive is a cli utility to handle multiple servers for microservices.
